/* --------- Imports */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap'); 

/* -------- color pallete 

Red: #b32727
yellow: #e6e61d
Orange: #ff5103
green: #a3ec11
Blue: #074dff
Purple: #601a4a

------------- */


/* --------- Global style */

body {
    background-color: whitesmoke;
    font-family: "Oswald", sans-serif;
    color: #ff5103;
    text-align: center;
    margin: 0;
    padding: 0;
}



/* ---------- containers */

#container {
    height: 100vh;
    width: 100%;
}

#nav {
    list-style-type: none;
    width: 15%;
    min-width: 100px;
    background-color: rgb(72, 74, 77);
    padding: 0;
    position: fixed;
    right: 0;
}

.nav-bar-item {
    display: block;
    color: whitesmoke;
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    width: 100%;
    transition: 1s;
}

.nav-bar-item:hover {
    color: rgb(72, 74, 77);
    background-color: whitesmoke;
}

#active {
    text-decoration: underline;
    color: rgb(112, 243, 199);
    text-align: left;
}

#active:hover {
    color: rgb(72, 74, 77);
}

#game-img-container {
    text-align: center;
    max-width: 30%;
    max-height: 300px;
    margin-left: 35%;
}

#game-img-container img {
    max-width: 100%;
    max-height: 100%;
}

#game-img-container a {
    text-decoration: none;
    color: #ff5103;
    font-size: 28px;
    font-family: "Oswald", sans-serif;
}

#game-container {
    width: 40%;
    margin-left: 30%;
    color: #ff5103;
    font-size: 22px;
    text-align: center;
}

#difficulty {
    text-align: center;
}

#start-game {
    border-radius: 8px;
    padding: 14px 40px;
    font-size: 22px;
    background-color: #ff5103;
    color: rgb(255, 255, 255);
    transition: all 1s;
}

#start-game:hover {
    background-color: rgb(255, 255, 255);
    color: #ff5103;
}

#tutorial {
    border-radius: 8px;
    padding: 12px 32px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: #ff5103;
    transition: all 1s;
}

#tutorial:hover {
    background-color: #ff5103;
    color: rgb(255, 255, 255);
}