/* --------- Imports */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap'); 

/* -------- color pallete 

Red: #b32727
yellow: #e6e61d
Orange: #ff5103
green: #a3ec11
Blue: #074dff
Purple: #601a4a



------------- */

.red {
    background-color: #b32727;
}

.yellow {
    background-color: #e6e61d;
}

.orange {
    background-color: #ff5103;
}

.green {
    background-color: #a3ec11;
}

.blue {
    background-color: #074dff;
}

.purple {
    background-color: #601a4a;
}


/* --------- Global style */

body {
    background-color: whitesmoke;
    font-family: "Oswald", sans-serif;
    color: #ff5103;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* ---------- Navigation */

#nav {
    list-style-type: none;
    width: 15%;
    min-width: 100px;
    background-color: rgb(72, 74, 77);
    padding: 0;
    position: fixed;
    right: 0;
}

.nav-bar-item {
    display: block;
    color: whitesmoke;
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    width: 100%;
    transition: 1s;
}

.nav-bar-item:hover {
    color: rgb(72, 74, 77);
    background-color: whitesmoke;
}

#active {
    text-decoration: underline;
    color: rgb(112, 243, 199);
    text-align: left;
}

#active:hover {
    color: rgb(72, 74, 77);
}


/* ---------- containers */

#container {
    height: 100vh;
    width: 100%;
}

#game-img-container {
    text-align: center;
    max-width: 30%;
    max-height: 300px;
    margin-left: 35%;
}

#game-img-container img {
    max-width: 100%;
    max-height: 100%;
}

#game-img-container a {
    text-decoration: none;
    color: #ff5103;
    font-size: 28px;
    font-family: "Oswald", sans-serif;
}

#game-container {
    width: 40%;
    margin-left: 30%;
    color: #ff5103;
    font-size: 22px;
    text-align: center;
}

/* ------------- Game Boards */

#difficulty {
    text-align: center;
}

#start-game {
    border-radius: 8px;
    padding: 14px 40px;
    font-size: 22px;
    background-color: #ff5103;
    color: rgb(255, 255, 255);
    transition: all 1s;
}

#start-game:hover {
    background-color: rgb(255, 255, 255);
    color: #ff5103;
}

#tutorial {
    border-radius: 8px;
    padding: 12px 32px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color: #ff5103;
    transition: all 1s;
}

#tutorial:hover {
    background-color: #ff5103;
    color: rgb(255, 255, 255);
}

#ghow-to {
    text-align: center;
    max-width: 30%;
    max-height: 300px;
    margin-left: 35%;
}

#how-to img {
    max-width: 100%;
    max-height: 100%;
}

#gameBoard {
    border: 3px solid black;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
}

#gameBoard th{
    border: 2px solid black;
    border-collapse: collapse;
    min-width: 100px;
    min-height: 100px;
}

#gameBoard td{
    border: 2px solid black;
    border-collapse: collapse;
    min-width: 100px;
    min-height: 100px;
}

.gamePeg {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    text-align: center;
}

.breaker {
    height: 60px;
    width: 100px;
    border-radius: 25%;
    background-color: #601a4a;
    color: antiquewhite;
    transition: all 0.5s;
    font-size: 22px;
    position: fixed;
    right: 20%;
    top: 25%;
    visibility: hidden;
}

.breaker:hover {
    background-color: antiquewhite;
    color: #601a4a;
}

.breakerTwo {
    height: 60px;
    width: 100px;
    border-radius: 25%;
    background-color: #601a4a;
    color: antiquewhite;
    transition: all 0.5s;
    font-size: 22px;
    position: fixed;
    right: 20%;
    top: 25%;
    visibility: hidden;
}

.breakerTwo:hover {
    background-color: antiquewhite;
    color: #601a4a;
}

.breakerThree {
    height: 60px;
    width: 100px;
    border-radius: 25%;
    background-color: #601a4a;
    color: antiquewhite;
    transition: all 0.5s;
    font-size: 22px;
    position: fixed;
    right: 20%;
    top: 25%;
    visibility: hidden;
}

.breakerThree:hover {
    background-color: antiquewhite;
    color: #601a4a;
}

.breakerFour {
    height: 60px;
    width: 100px;
    border-radius: 25%;
    background-color: #601a4a;
    color: antiquewhite;
    transition: all 0.5s;
    font-size: 22px;
    position: fixed;
    right: 20%;
    top: 25%;
    visibility: hidden;
}

.breakerFour:hover {
    background-color: antiquewhite;
    color: #601a4a;
}

.breakerFive {
    height: 60px;
    width: 100px;
    border-radius: 25%;
    background-color: #601a4a;
    color: antiquewhite;
    transition: all 0.5s;
    font-size: 22px;
    position: fixed;
    right: 20%;
    top: 25%;
    visibility: hidden;
}

.breakerFive:hover {
    background-color: antiquewhite;
    color: #601a4a;
}

.breakerSix {
    height: 60px;
    width: 100px;
    border-radius: 25%;
    background-color: #601a4a;
    color: antiquewhite;
    transition: all 0.5s;
    font-size: 22px;
    position: fixed;
    right: 20%;
    top: 25%;
    visibility: hidden;
}

.breakerSix:hover {
    background-color: antiquewhite;
    color: #601a4a;
}

.breakerSeven {
    height: 60px;
    width: 100px;
    border-radius: 25%;
    background-color: #601a4a;
    color: antiquewhite;
    transition: all 0.5s;
    font-size: 22px;
    position: fixed;
    right: 20%;
    top: 25%;
    visibility: hidden;
}

.breakerSeven:hover {
    background-color: antiquewhite;
    color: #601a4a;
}

.breakerEight {
    height: 60px;
    width: 100px;
    border-radius: 25%;
    background-color: #601a4a;
    color: antiquewhite;
    transition: all 0.5s;
    font-size: 22px;
    position: fixed;
    right: 20%;
    top: 25%;
    visibility: hidden;
}

.breakerEight:hover {
    background-color: antiquewhite;
    color: #601a4a;
}

#retry {
    height: 60px;
    width: 100px;
    border-radius: 25%;
    background-color: #ff5103;
    color: antiquewhite;
    transition: all 0.5s;
    font-size: 22px;
    position: fixed;
    right: 20%;
    top: 25%;
    text-decoration: none;
}

#retry:hover {
    background-color: antiquewhite;
    color: #ff5103;
}

#gameAnswer {
    border: 3px solid black;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
}

#gameAnswer th{
    border: 2px solid black;
    border-collapse: collapse;
    min-width: 100px;
    min-height: 100px;
}

.how-to-box {
    background-color: antiquewhite;
    color: #601a4a;
    width: 200px;
}

#how-to-one {
    position: fixed;
    top: 25%;
    right: 20%;
}

#how-to-two {
    position: fixed;
    top: 50%;
    right: 20%;
}

#how-to-three {
    position: fixed;
    top: 75%;
    right: 20%;
}

/* ------------- contact page */

.center-form {
    padding-top: 10%;
    margin: 0 auto;
    max-width: 70%;
    background-color: whitesmoke;
}

#contact-btn {
    margin-top: 15px;
    margin-bottom: 20px;
    height: 60px;
    width: 100px;
    border-radius: 25%;
    color: whitesmoke;
    background-color: #ff5103;
}

#contact-form {
    display: grid;
}

#contact-form input, textarea {
    color: #601a4a;
    font-size: 22px;
}

#contact-response {
    width: 40%;
    height: 50%;
    margin-left: 30%;
    margin-top: 10%;
    margin: 0 auto;
    max-width: 70%;
    background-color: antiquewhite;
    color: #601a4a;
    font-size: 28px;
}

/* ---------- media */

/* ---------- tablet */

@media screen and (max-width: 1393px) {

        .breaker {
        position: fixed;
        right: 5%;
        top: 20%;
        visibility: hidden;
    }

    .breakerTwo {
        position: fixed;
        right: 5%;
        top: 20%;
        visibility: hidden;
    }

    .breakerThree {
        position: fixed;
        right: 5%;
        top: 20%;
        visibility: hidden;
    }

    .breakerFour {
        position: fixed;
        right: 5%;
        top: 20%;
        visibility: hidden;
    }

    .breakerFive {
        position: fixed;
        right: 5%;
        top: 20%;
        visibility: hidden;
    }

    .breakerSix {
        position: fixed;
        right: 5%;
        top: 20%;
        visibility: hidden;
    }

    .breakerSeven {
        position: fixed;
        right: 5%;
        top: 20%;
        visibility: hidden;
    }

    .breakerEight {
        position: fixed;
        right: 5%;
        top: 20%;
        visibility: hidden;
    }

    #retry {
        position: fixed;
        right: 5%;
        top: 20%;
        visibility: hidden;
    }

}
/* --------- mobile */

@media screen and (max-width: 943px) {

    #nav {
        list-style-type: none;
        width: 60%;
        min-width: 100px;
        background-color: rgb(72, 74, 77);
        padding: 0;
        display: inline-flex;
        position: inherit;
        right: auto;
    }

    #nav li {
        margin-right: 15px;
    }

    #how-to {
        height: 150px;
        width: 150px;
    }

    #how-to-one {
        position: inherit;
        width: 160px;
        margin-left: 80%;
    }

    #how-to-two {
        position: inherit;
        width: 160px;
        margin-left: 80%;
    }
    #how-to-three {
        position: inherit;
        width: 160px;
        margin-left: 80%;
    }

    #game-container {
        margin-left: 0;
        max-width: 60%;
    }

    #start-game {
        margin-left: 80%;
    }

    #how-to {
        margin-left: 88%;
    }

    .gamePeg {
        width: 70px;
        height: 70px;
    }

    #gameBoard td {
        width: 70px;
        height: 70px;
    }
}